---
http_interactions:
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=8f18176d2b&oauth_signature=1LqeERfA2xFp3%2FZQSUsA8yZF7hg%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1345915946&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<fantasy_content xml:lang=\"en-US\"
        yahoo:uri=\"http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;count=25;start=0\"
        xmlns:yahoo=\"http://www.yahooapis.com/v1/base.rng\" time=\"281.27384185791ms\"
        copyright=\"Data provided by Yahoo! and STATS, LLC\" refresh_rate=\"\" xmlns=\"http://fantasysports.yahooapis.com/fantasy/v2/base.rng\">\n
        <league>\n  <league_key>257.l.669975</league_key>\n  <league_id>669975</league_id>\n
        \ <name>Yahoo Public 669975</name>\n  <url>http://football.fantasysports.yahoo.com/archive/nfl/2011/669975</url>\n
        \ <draft_status>postdraft</draft_status>\n  <num_teams>10</num_teams>\n  <edit_key>17</edit_key>\n
        \ <weekly_deadline/>\n  <league_update_timestamp>1325928718</league_update_timestamp>\n
        \ <scoring_type>head</scoring_type>\n  <league_type>public</league_type>\n
        \ <is_pro_league>0</is_pro_league>\n  <current_week>16</current_week>\n  <start_week>1</start_week>\n
        \ <end_week>16</end_week>\n  <is_finished>1</is_finished>\n  <players count=\"25\">\n
        \  <player>\n    <player_key>257.p.1111</player_key>\n    <player_id>1111</player_id>\n
        \   <name>\n     <full>John Kasay</full>\n     <first>John</first>\n     <last>Kasay</last>\n
        \    <ascii_first>John</ascii_first>\n     <ascii_last>Kasay</ascii_last>\n
        \   </name>\n    <editorial_player_key>nfl.p.1111</editorial_player_key>\n
        \   <editorial_team_key>nfl.t.18</editorial_team_key>\n    <editorial_team_full_name>New
        Orleans Saints</editorial_team_full_name>\n    <editorial_team_abbr>NO</editorial_team_abbr>\n
        \   <bye_weeks>\n     <week>11</week>\n    </bye_weeks>\n    <uniform_number>2</uniform_number>\n
        \   <display_position>K</display_position>\n    <headshot>\n     <url>http://l.yimg.com/iu/api/res/1.2/zKahZAfU9TQ3Kq0gQpbI8Q--/YXBwaWQ9eXZpZGVvO2NoPTIxNTtjcj0xO2N3PTE2NDtkeD0xO2R5PTE7Zmk9dWxjcm9wO2g9NjA7cT0xMDA7dz00Ng--/http://l.yimg.com/a/i/us/sp/v/nfl/players_l/headshots/20090903//1111.jpg</url>\n
        \    <size>small</size>\n    </headshot>\n    <image_url>http://l.yimg.com/iu/api/res/1.2/zKahZAfU9TQ3Kq0gQpbI8Q--/YXBwaWQ9eXZpZGVvO2NoPTIxNTtjcj0xO2N3PTE2NDtkeD0xO2R5PTE7Zmk9dWxjcm9wO2g9NjA7cT0xMDA7dz00Ng--/http://l.yimg.com/a/i/us/sp/v/nfl/players_l/headshots/20090903//1111.jpg</image_url>\n
        \   <is_undroppable>0</is_undroppable>\n    <position_type>K</position_type>\n
        \   <eligible_positions>\n     <position>K</position>\n    </eligible_positions>\n
        \   <has_player_notes>1</has_player_notes>\n   </player>\n   <player>\n    <player_key>257.p.2034</player_key>\n
        \   <player_id>2034</player_id>\n    <name>\n     <full>Jason Hanson</full>\n
        \    <first>Jason</first>\n     <last>Hanson</last>\n     <ascii_first>Jason</ascii_first>\n
        \    <ascii_last>Hanson</ascii_last>\n    </name>\n    <editorial_player_key>nfl.p.2034</editorial_player_key>\n
        \   <editorial_team_key>nfl.t.8</editorial_team_key>\n    <editorial_team_full_name>Detroit
 [...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=962030adae&oauth_signature=%2Fs2x6ZZzrYXeaYgB9YJGPOMYORM%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201146&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=ut[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=eb6ce24974&oauth_signature=NsKVpx4I5yZYcgJr6b2s1uvrfhE%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201154&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=lmIZdlOwlxRO%2FNpOW6zf%2B%2FIqysU%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201204&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charse[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=7A%2B1aHkZ2dk5cDMa8Uw5FplXKVM%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201462&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=ut[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=SvjwJnSTxVdGxjnXMy0aHJZkA2k%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201484&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=ys2EhrLuvFoyqIlWy2mL1vJC6KY%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201528&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=qM2RL4uvVp%2BU7D6B%2BdMPCMO9Rs0%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201638&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=JTliBRwILV01B4MjH0Lf5tILjsU%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201678&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-[...]
- request:
    method: get
    uri: http://fantasysports.yahooapis.com/fantasy/v2/league/257.l.669975/players;start=0;count=25?oauth_consumer_key=CONSUMER_KEY&oauth_nonce=a73c48424c&oauth_signature=aYwobNHDviahD5ySJfxHMtx4P0w%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1346201715&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-[...]
